<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<style></style>
</head>
<body>	
	<div id="app">
		<!-- <input type="text" v-model="password"> -->
		<input type="password" v-model="password">
		<p>{{strength}}</p>
	</div>

	
	<script>
		new Vue({
			el: '#app',	
			data: {
				password: '',
			},	
			computed: {
				strength(){
					let score = this.password.length;

					if(/A-Z/.test(this.password)){score *= 2.0;}
					if(/a-z/.test(this.password)){score *= 1.5;}
					if(/0-9/.test(this.password)){score *= 1.2;}
					if(/^A-Za-z0-9/.test(this.password)){score *= 1.5;}

					if(score > 30) return 'Perfect';
					if(score > 15) return 'Great';
					if(score > 8) return 'Good';

					return 'Weak';
				}
			},
		});
	</script>
</body>
</html>