<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue--radio</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<style></style>
</head>
<body>	
	<div id="app">
		<input type="radio" v-model="gender" value="male"><label>Male</label>
		<input type="radio" v-model="gender" value="female"><label>Female</label>
		<input type="radio" v-model="gender" value="others"><label>Others</label>
		
		<h1>{{gender}}</h1>
	</div>

	
	<script>
		new Vue({
			el: '#app',	
			data: {
				gender: 'male',
			},
			methods:{
				
			},
		});
	</script>
</body>
</html>