<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
</head>
<body>

	<div id="app">
		<h2>What did you get in HTML5?</h2>
		Your score: <input type="text" v-model="score">
		<p v-if="score>=70">It's hard to pass.</p>
		<p v-else>I didn't pass.</p>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {			//放變數
				message: 'Hello, Vue!',
				score: 80,
				loading: false,
			},
		});
	</script>
</body>
</html>