<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
</head>
<body>

	<div id="app">
		<ul>
			<li v-for="color in colors">
				{{color}}
			</li>
		</ul>

		<table border="1">
			<tr>
				<td v-for="item in classmate">{{item.name}}</td>
			</tr>
			<tr>
				<td v-for="item in classmate">{{item.age}}</td>
			</tr>
		</table>
	</div>
<!--
	for(color in colors){
		use colors[color]
	}
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script>
		new Vue({
			el: '#app',
			data: {			//宣告變數
				message: 'Hello, Vue!',
				colors: ['red','orange','yellow','green','blue','indigo','violet'],
				classmate: [{name:'Anan',age:14},{name:'Steve',age:18},{name:'Nina',age:15}],
			},
		});
	</script>
</body>
</html>